{
  "swagger" : "2.0",
  "info" : {
    "description" : "API Import from Swagger file",
    "version" : "2024-10-02T06:40:21Z",
    "title" : "fusionapi"
  },
  "host" : "fusionportalapi.seedideation.com",
  "schemes" : [ "https" ],
  "paths" : {
    "/{proxy+}" : {
      "options" : {
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration" : {
          "responses" : {
            "default" : {
              "statusCode" : "200",
              "responseParameters" : {
                "method.response.header.Access-Control-Allow-Methods" : "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'",
                "method.response.header.Access-Control-Allow-Headers" : "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-ihis-sourceapplication'",
                "method.response.header.Access-Control-Allow-Origin" : "'*'"
              }
            }
          },
          "requestTemplates" : {
            "application/json" : "{\"statusCode\": 200}"
          },
          "passthroughBehavior" : "when_no_match",
          "type" : "mock"
        }
      },
      "x-amazon-apigateway-any-method" : {
        "parameters" : [ {
          "name" : "proxy",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : { },
        "x-amazon-apigateway-integration" : {
          "connectionId" : "v1t550",
          "httpMethod" : "ANY",
          "uri" : "https://fusionportalapi.seedideation.com/{proxy}",
          "requestParameters" : {
            "integration.request.path.proxy" : "method.request.path.proxy"
          },
          "connectionType" : "VPC_LINK",
          "passthroughBehavior" : "when_no_match",
          "type" : "http_proxy"
        }
      }
    }
  },
  "x-amazon-apigateway-policy" : {
    "Version" : "2012-10-17",
    "Statement" : [ {
      "Effect" : "Allow",
      "Principal" : "*",
      "Action" : "execute-api:Invoke",
      "Resource" : "*",
      "Condition" : {
        "StringEquals" : {
          "aws:SourceVpce" : "vpce-09855052bcd07c8b0"
        }
      }
    } ]
  },
  "x-amazon-apigateway-endpoint-configuration" : {
    "vpcEndpointIds" : [ "vpce-09855052bcd07c8b0" ]
  }
}